<a {{action 'selectNode' nodeConfig}} class="uk-button uk-width-1-1 uk-text-left">
  {{fa-icon (if isNodeConfigSelected 'angle-double-down' 'angle-double-right')}}
  <b>{{t 'data-props.edit.sources.nodeGroupTitle' name=nodeConfig.displayName}}</b>
</a>
{{#if isNodeConfigSelected}}
  <ul class="uk-nav uk-nav-side">
    {{#each sortedSourceConfigs as |sourceConfig|}}
      <li class="{{if (eq sourceConfig selectedSourceConfig) 'uk-active' null}}">
        <a {{action 'selectSource' sourceConfig}}>{{sourceConfig.displayName}}</a>
      </li>
    {{/each}}
  </ul>
{{/if}}
