<div class="uk-grid">
	<div class="uk-width-8-10">
		<p>{{t 'data-props.intro'}}</p>
	</div>
	<div class="uk-width-2-10 uk-text-right">
		<button {{action 'save'}} class="uk-button uk-button-success" disabled={{if canSave null true}}>{{t 'action.save'}}</button>
	</div>
</div>
{{#unless profile.isHideDataPropHelp}}
	<div class="uk-alert" data-uk-alert>
		<a {{action 'hideDataPropHelp'}} class="uk-alert-close uk-close"></a>
		<p>{{t 'data-props.edit.help'}}</p>
	</div>
{{/unless}}
<div class="uk-grid uk-flex-wrap uk-flex-wrap-space-around">
  <form class="uk-form uk-width-small-4-10 uk-width-large-2-10">
    <fieldset>
      <legend>{{t 'data-props.edit.sources.title'}}</legend>
      {{#each nodeConfigs as |nodeConfig|}}
        {{data-props-node-sources nodeConfig=nodeConfig sourceConfigs=sourceConfigs
          selectedSourceConfig=selectedSourceConfig
          isNodeConfigSelected=(eq nodeConfig selectedNodeConfig)
          selectNode=(action 'selectNode')
          selectSource=(action 'selectSource')}}
      {{/each}}
		</fieldset>
		<fieldset>
      <a {{action 'showAddNewNodeForm'}} title={{t 'data-props.action.addNode'}}
        class="{{if showingAddNodeForm 'uk-icon-primary' 'uk-icon-hover'}} uk-icon-medium">
        {{fa-icon 'plus'}}
      </a>
		</fieldset>
	</form>
	{{#if showChildOutlet}}
		{{outlet}}
	{{else}}
	  <div class="uk-width-small-6-10 uk-width-large-4-10">
      <form class="uk-form">
        <fieldset>
          <legend>&nbsp;</legend>
          <div class="uk-width-small-6-10 uk-width-large-4-10">
            <p class="uk-text-muted">{{t 'data-props.edit.noSourceSelected'}}</p>
          </div>
        </fieldset>
      </form>
    </div>
	{{/if}}
</div>
