{{#link-to 'index' classNames='uk-navbar-brand'}}
	<img src="assets/images/logo-node.svg" alt="SolarNode" height="30" width="159">
{{/link-to}}
{{#if session.isAuthenticated}}
  <div class="uk-navbar-content app-title">
    {{session.data.authenticated.nodeId}}
  </div>
{{/if}}
<div class="uk-navbar-flip">
  {{#if session.isAuthenticated}}
    <ul class="uk-navbar-nav">
      <li class="uk-parent" data-uk-dropdown>
        <a href="">{{fa-icon 'cog' class="uk-icon-small uk-icon-hover"}}</a>
        <div class="uk-dropdown uk-dropdown-navbar">
          <ul class="uk-nav uk-nav-navbar">
            <li>{{#link-to 'data-props'}}{{t 'action.manageDataProperties'}}{{/link-to}}</li>
          </ul>
        </div>
      </li>
    </ul>
  {{/if}}
	{{#unless isLogin}}
	  <div class="uk-navbar-content">
      {{#if session.isAuthenticated}}
        <a {{action 'logout'}} class="uk-button uk-button-danger">{{t 'action.logout'}}</a>
      {{else}}
        <a {{action 'login'}} class="uk-button uk-button-primary">{{t 'action.login'}}</a>
      {{/if}}
    </div>
  {{/unless}}
</div>
